/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 body {
  margin: 0;
  padding: 0;
  overflow: hidden;
 }

 #root {
  height: 100vh;
  padding: 0;
  margin: 0;
 }

li {
  list-style: none;
}

.Hello button {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

#Content h1 {
  text-align: center;
  color: azure;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#Content {
  display: flex;
  color: #ffffff;
  align-items: center;
  overflow: scroll;
}

#HelloInner {
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#HelloBox {
  width: 100%;
}

#editor-root {
  height: 100vh;
  width: 100%;
  color: #172b4d;
}

#editor-root blockquote::before {
  content: none;
}
#editor-root blockquote::after {
  content: none;
}
#editor-root blockquote {
  padding-left: 5px;
  border-left: #d0d0d0 3px solid;
}

#editor-title {
  padding: 15px 0px 10px 45px;
  display: flex;
  width: 100%;
  height: 30px;
  border-bottom: #e0e0e0 1px solid;
}

#editor-title .input {
  width: calc(100% - 160px);
  line-height: 24px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  font-size: x-large;
  margin-right: 10px;
  --padding-x: 6px;
  padding: 3px var(--padding-x);
}

#rightmenu button {
    min-height: var(--ds-scale-500, 20px);
    margin: var(--ds-scale-0, 0px);
    padding: var(--ds-scale-100, 4px) var(--ds-scale-250, 10px);
    font-size: 13px;
}
