/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 body {
  margin: 0;
  overflow: hidden;
 }

 #root {
  height: 100vh;
 }

li {
  list-style: none;
}

.Hello button {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

#Content h1 {
  text-align: center;
  color: azure;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#Content {
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
